.container {
  padding: 0 2rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  position: relative;
}

.main {
  min-height: 90vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  heigth: 10vh;
  padding: 1.3rem 0;
  display: flex;
  flex: 1;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-weight: bold;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title span {
  color: #0070f3;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: bold;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  width: 550px;
}

.buttons button {
  padding: 0.75rem 1.25rem;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 5px rgb(186, 183, 183);
}

.success{
  border: green solid 1px;
  border-radius: 5px;
  color: white;
  background-color: green;
  transition: 0.5s box-shadow;
}

.success:hover {
  box-shadow: 5px 5px 20px rgb(137, 255, 137),
  -5px 5px 20px rgb(137, 255, 137),
  5px -5px 20px rgb(137, 255, 137),
  -5px -5px 20px rgb(137, 255, 137);
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
